@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

button {
  padding: 1%;
  margin: 1%;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #5ec1da;
  border-radius: 5px;
  background-color: transparent;
}
